body {
  font-family: Helvetica;
  text-align: center;

}

p {
  font-size: 14px;
}

h1 {
  font-size:70px;
  font-weight:bold;
  color:white;
}

.backgrey a, p a {
  /* We want underlined links: text-decoration: none; */
  font-size: 18px;
  color: white;
}

.backimage {
  /* NOTE: need to research why this image doesn't render */
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  width: 100%;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

.backgrey {
  background-color: DimGrey;
}

h2.backgrey {
  background-color: DimGrey;
  color: white;
}

h3 {
  font-size:23px;
  font-weight: bold;
}

#myCopyright {
  font-family: Helvetica;
  font-size: 11px;
  color:white;
}

#footer table {
  cellspacing: 0; cellpadding: 0; width:100%;
}
